---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="py-14 lg:py-20">
  <div class="border-l-[3px] border-accent pl-6 sm:pl-8 max-w-[720px]">
    <blockquote class="font-heading italic text-[22px] sm:text-[26px] lg:text-[30px] leading-[1.45] text-primary">
      {text}
    </blockquote>
  </div>
</div>
