---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="pt-14 lg:pt-20 pb-6 lg:pb-10">
  <div class="border-t border-accent/30 pt-14 lg:pt-20">
    <blockquote class="font-heading italic text-[22px] sm:text-[26px] lg:text-[30px] leading-[1.45] text-primary text-center max-w-[720px] mx-auto">
      {text}
    </blockquote>
  </div>
</div>
