---
import Base from "@/layouts/Base.astro";
import Nav from "@/components/sections/Nav.astro";
import Footer from "@/components/sections/Footer.astro";
import DivLine from "@/components/ui/DivLine.astro";
import Hero from "@/components/sections/Hero.astro";
import Approach from "@/components/sections/Approach.astro";
import Services from "@/components/sections/Services.astro";
import InsightsGrid from "@/components/sections/InsightsGrid.astro";
import About from "@/components/sections/About.astro";
import CTABanner from "@/components/sections/CTABanner.astro";
---

<Base>
  <Nav />

  <main>
    <Hero />
    <DivLine />
    <Approach />
    <Services />
    <InsightsGrid />
    <About />
    <CTABanner />
  </main>

  <Footer />
</Base>
